
<app-nav></app-nav><br><br/>

<router-outlet></router-outlet>



 <!--<h1 style="text-align: center;"> Welcome To the page </h1>
Give details as MobileId:<input [(ngModel)]="details" /><br><br/>
Give details as MobileName:<input [(ngModel)]="details2" /><br><br/>
Give details as MobileCost:<input [(ngModel)]="details3" /><br><br/>

<button (click)="printMobileDetails()" class="btn btn-success">Add details</button>


<h3>Employee Angular</h3>

ID : <input [(ngModel)]="id" /><br><br/>
Name : <input [(ngModel)]="name" /><br><br/>
Salary : <input [(ngModel)]="salary" /><br><br/>
Department : <input [(ngModel)]="department" /><br><br/>

<p>{{id}} {{name}} {{salary}} {{department}}</p>
<button (click)="message()" class="btn btn-success">Add Employee</button><br><br/>




<app-forms></app-forms>-->
